
doctype html
html
    head 
        title 텔레봇
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
        
    body
        form( action="/upload" method="post" enctype="multipart/form-data")   
            input(type="file" name="csvfile")
            input(type="submit" value="CSV 파일 업데이트하기")